@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Sriracha', cursive;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:var(--black);
}

.heading span{
    background: var(--orange);
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}


.btn-warning{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: 1rem;
    border:.2rem solid#ffd900;
    color:var(--black);
    cursor: pointer;
    background: none;
}

.btn-warning:hover{
    background: #ffd900;
    color:#fff;
}

.btn-danger{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: 1rem;
    border:.2rem solid #ff0000;
    color: #ff0000;
    cursor: pointer;
    background: none;
}

.btn-danger:hover{
    background: #ff0000;
    color:#fff;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:#fff;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}

.header .logo i{
    color: rgb(2, 90, 9);
}

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:var(--black);
}

.header .navbar a:hover{
    color:var(--orange);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: var(--orange);
    color:#fff;
}

#menu-btn{
    display: none;
}


/* media queries  */
@media (max-width:1024px){
    .search{
        margin-top: 2%;
    }

}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }
    .search{
        margin-top: 4%;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }
    .search{
        margin-top: 4%;
    }

}

@media (max-width:425px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .search{
        margin-top: 9%;
    }

}




  
  body{
    margin-top: 6%;
    padding: 2rem 5rem;
    text-align: center;
    font-family: "helvetica neue", sans-serif;
    font-weight: 100;
    font-size: 16px;
  }
  
  
  input {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
  
    width: 50%;
    height: 50px;
  
    padding: 20px;
    margin-bottom: 42px;
  
    font-size: 20px;
  }


  
.products{
    
    flex-wrap: wrap;
}

.products .product-slider .box{
    background: #fff;
    border-radius: 1rem;
    text-align: center;
    padding:4rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .1s linear;
}

.products .product-slider .box img{
    height: 17rem;
    border-radius: 1rem;
}

.products .product-slider .box h3{
    font-size: 2rem;
    color:var(--black);
}

.products .product-slider .box .price{
    font-size: 2rem;
    color:var(--light-color);
    padding:.5rem 0;
}


.products .product-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


.products .swiper-slide:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
}

.products .swiper-slide {
    background: rgb(194, 194, 194);
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem
} 
  
 
  
  

  
 
  